html,
body {
    height: 100%;
    color:$white;
        // position: relative;
        // overflow-x: hidden;
        // margin: 0 auto;
    background-color: $background;
    font-family: Montserrat, Arial, sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}
.container{
  margin: 0 auto;
  padding: 0 15px;
  &_mw-1410{
    max-width: 1410px;
  }
  &_mw-1207{
    max-width: 1207px;
  }
  &_mw-1277{
    max-width: 1277px;
  }
  &_mw-1110{
    max-width: 1110px;
  }
}

.title{
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 56px;
    max-width: fit-content;
}
.slick-slider{
  .slick-arrow{
    position: absolute;
    bottom:-105.5px;
    font-size: 0;
    border-radius: 50%;
    border:3px solid $orange;
    background-color: transparent;
    width: 50.5px;
    height: 50.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-image:url(../images/icons/slider-arrow.svg);
    cursor: pointer;
    transition: all .5s ease-in-out;
    &:hover{
      background-color:$background ;
      }
  }
  .slick-prev{
    left:27%;
    transform: rotate(180deg);
    
  }
  .slick-next{
    right:27%;
  }
}
input[type=checkbox] {
display: none;
}
.label{
  display: flex;
  font-size: 10px;
  font-weight: 400;
  cursor:pointer;
}
.label::before {
  border-radius: 3px;
  content:"";
  transition: all .5s ease-in-out;
  min-width:22px;
  height: 22px;
  border:1px solid $white;
  background: transparent;
  display: block;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
}
input[type=checkbox]:checked {
  &+ label::before{
    background-image: url(../images/icons/checkbox.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14.69px 11.44px;
  }
}